* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  gap: 4px;
  grid-template-rows: 0.6fr 0.5fr 5fr 0.1fr;
  grid-template-columns: 1fr, 4fr;
  display: grid;
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 2fr;
  grid-column: 1/3;
  grid-row: 1;
  background-color: #393f4d;
}

.logo {
  justify-self: left;
  display: grid;
}

.menu ul,
.menu li {
  display: inline;
  list-style-type: none;
  margin: 40px;
  font-size: 16px;
}

.sidebar {
  display: grid;
  gap: 50px;
  grid-column: 1;
  grid-row: 2/4;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-column: 2;
  grid-row: 2;
  background-color: #C50208;
}

.nav ul li {
  display: inline;
  margin: 0px 120px;
  list-style-type: none;
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1/3;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}